@charset "UTF-8";

/* Configurações Globais */
:root {
    --cor-prin: rgb(168, 0, 0);
    --cor-texto: #333;
    --cor-section-header: white;
    --cor-preco: #b12704;
    --cor-desconto: grey;
    --cor-fundo: #f4f4f9;
    --cor-sombra: rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--cor-section-header);
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: 24px;
    box-shadow: 0 4px 8px var(--cor-sombra);
}

.login-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.login-form > p {
    grid-column: 2 / 3;
    margin: 24px 0px;
}

.login-form > p > a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-prin);
}

#loginForm > div > label {
    display: block;
    font-weight: bold;
}

#loginForm > div > input, #loginForm > div > input:-webkit-autofill, #loginForm > div >
input:-webkit-autofill:hover, #loginForm > div > 
input:-webkit-autofill:focus, #loginForm > div >
input:-webkit-autofill:active  {
    width: 100%;
    padding: 12px;
    margin: 8px 0px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--cor-fundo);
    box-shadow: 0 2px 4px var(--cor-sombra);
}

.login-form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#loginButton {
    margin-top: 24px;
    grid-column: 2 / 3;
    padding: 12px;
    width: 100%;
    background-color: var(--cor-prin);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--cor-sombra);
    transition: background-color 0.5s ease;
}

#loginButton:hover {
    background-color: var(--cor-desconto);
}

#loginButton:active {
    background-color: var(--cor-texto);
}

img {
    align-self: center;
    width: 200px;
}


@media screen and (max-width: 760px) {
    .login-form {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .login-form > p {
        grid-column: 1 / -1;
        margin: 24px 0px;
    }
}