/* Configurações Globais */
:root {
    --cor-prin: rgb(168, 0, 0);
    --cor-texto: #333;
    --cor-section-header: white;
    --cor-preco: #b12704;
    --cor-desconto: grey;
    --cor-fundo: #f4f4f9;
    --cor-sombra: rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* Header */
header {
    background-color: var(--cor-section-header);
    color: var(--cor-texto);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    font-weight: bold;
    z-index: 1000;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-prin);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a, #navLinkCarrinho {
    color: var(--cor-texto);
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover, nav ul li a.active, #navLinkCarrinho.active, #navLinkCarrinho:hover {
    color: var(--cor-prin);
}

/* Seção de Título */
.category-header {
    text-align: center;
    padding: 40px 20px;
}

.category-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Grid de Produtos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px 5%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Card do Produto */
.product-card {
    background-color: var(--cor-section-header);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px var(--cor-sombra);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: 280px;
    border-radius: 5px;
    margin-bottom: 15px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    height: 50px; /* Mantém o alinhamento se o nome for longo */
    color: var(--cor-texto);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card .desconto {
    font-size: 1rem;
    color: var(--cor-desconto);
    text-decoration: line-through;
}

.product-card .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--cor-preco);
    margin-bottom: 15px;
}

.product-grid > a {
    text-decoration: none;
}

/* Carrinho */

/* Seção de Título */
.carrinho-header {
    text-align: start;
    padding: 40px 20px;
    border-bottom: 1px solid var(--cor-sombra);
}

.carrinho-header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-grid-carrinho {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 5%;
    max-width: 1300px;
    margin: 0 auto;
}

.product-grid-carrinho > div a{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.product-grid-carrinho > div a:hover .carrinhoItemPreco{
    border-left: 12px solid var(--cor-texto)
}

.product-grid-carrinho > div a:hover .carrinhoItemNome{
    color: var(--cor-prin);
}

.product-grid-carrinho > div a:hover img{
    padding: 10px;
}


.carrinhoItemNome{
    display: flex;
    align-items: start;
    padding: 0px 32px;
    height: 144px;
    color: var(--cor-texto);
    font-weight: bold;
    transition: color 0.5s ease;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carrinhoItemPreco{
    background-color: var(--cor-section-header);
    display: flex;
    align-items: center;
    padding: 0px 32px;
    height: 160px;
    border-left: 4px solid var(--cor-texto);
    transition: border-left 0.5s ease;
    font-weight: bold;
    color: var(--cor-preco);
}

.product-grid-carrinho > div img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    background-color: var(--cor-section-header);
    padding: 20px;
    transition: padding 0.5s ease;
}

/* TOTAL */

.product-subtotal-carrinho {
    display: flex;
    justify-content: end;
    gap: 25px;
    padding: 64px 5%;
    max-width: 1300px;
    margin: 0 auto;
}

.product-subtotal-carrinho strong {
    margin: 0px 24px;
    font-size: 24px;
}

.product-subtotal-carrinho span {
    font-size: 20px;
    font-weight: bold;
}

.product-subtotal-carrinho input {
    font-size: 20px;
    font-weight: normal;
    padding: 4px 16px;
    border: none;
    background-color: var(--cor-texto);
    color: var(--cor-section-header);
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.product-subtotal-carrinho input:hover {
    transform: translateY(-4px);
}

.product-subtotal-carrinho input:active {
    background-color: var(--cor-prin);
}