@charset "UTF-8";

:root {
    --main-color: white;
    --fundo-color: rgb(238, 238, 238);
    --card-color: rgb(0, 60, 255);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html {
    min-height: 100%;
    width: 100%;
    background-color: var(--fundo-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding: 24px;
    margin: 24px;
    width: 100%;
    max-width: 1000px;
    background-color: var(--main-color);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    background-color: var(--card-color);
    width: 100%;
    border-radius: 32px;
    text-align: center;
    color: var(--main-color);
    padding: 8px 16px;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: space-between;
}

main h1:hover {
    transform: translateY(-8px);
}

main section {
    margin: 24px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.6s; /* A animação de giro */
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde a parte de trás ao girar */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--main-color);
  outline: 5px solid var(--card-color);
  border-radius: 24px;
  box-sizing: border-box;
  font-size: 24px;
}

.front {
  background-color: var(--card-color);
  color: var(--main-color);
  z-index: 2; /* Para aparecer na frente */
}

.back {
  background-image: url(images/img0.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg); /* Começa virado */
}

.flip-container .ativo {
  transform: rotateY(180deg); /* Gira para mostrar o verso */
}