@charset "UTF-8";

:root {
    --cor-principal: rgb(214, 0, 0);
    --cor-principal-d: rgb(165, 0, 0);
    --cor-principal2: white;
    /* cores para modo escuro mudar*/
    --cor-de-section: white;
    --cor-de-section2: rgb(245, 245, 245);
    --cor-de-fundo: #faf0f0;
    --cor-de-texto: rgb(22, 22, 22);

    --cor-entrada: green;
    --cor-saida: red;
}

.escuro {
    --cor-de-section: #222222;
    --cor-de-section2: #303030;
    --cor-de-fundo: #0c0c0c;
    --cor-de-texto: rgb(255, 255, 255);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--cor-de-texto);
}

html, body {
    min-height: 100%;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-de-fundo);
}

main.container {
    width: 100%;
    max-width: 1000px;
}

main > h1 {
    margin: 24px;
    text-align: center;
}

h2 {
    text-align: center;
}

.container > section {
    margin: 24px;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--cor-de-section);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.116);
}

/* HEADER */

header {
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

header > div {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 140px;
    font-size: 12px;
    line-height: 20px;
}

#logo a {
    text-decoration: none;
    color: none;
}

#logo h1 {
    color: var(--cor-principal2);
    transition: transform 0.5s ease;
}

#logo a:hover h1{
    transform: scale(1.05);
}


#logo strong {
    font-size: 32px;
    color: var(--cor-principal2);
}

/* tema btn*/

header .material-symbols-outlined {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: var(--cor-principal2);
    transition: transform 0.5s ease;
}

header .material-symbols-outlined:hover {
    transform: scale(0.9);
    transition: transform 1s ease;
}

header .material-symbols-outlined:active {
    transform: rotate(360deg);
}

/* RESUMO */

.card {
    background-color: var(--cor-de-section2);
    border-left: 6px solid var(--cor-principal);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    margin: 24px 0px;
    padding: 14px 18px;
    transition: border-left 0.5s ease;
}

.card:hover {
    border-left: 12px solid var(--cor-principal-d);
    
}

.card h3 {
    margin-bottom: 4px;
}

/* CORES PARA CHAMAR EM CASO DE SAIDA OU ENTRADA */
.dinheiro-saida {
    color: var(--cor-saida);
}

.dinheiro-entrada {
    color: var(--cor-entrada);
}

/* HISTORICO */

.historico {
    display: flex;
    flex-direction: column;
}

#lista-transacoes {
    list-style-type: none;
    margin-top: 24px;
    background-color: var(--cor-de-section2);
    border-radius: 16px;
    padding: 24px;
}

#lista-transacoes > li {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    margin-bottom: 8px;
    background-color: var(--cor-de-section);
    border-left: 4px solid var(--cor-principal);
    transition: border-left 0.5s ease;
}

#lista-transacoes > li:hover {
    border-left: 8px solid var(--cor-principal-d);
}

.historico-desc, .historico-valor {
    font-weight: bold;
}

button.material-symbols-outlined {
    background-color: var(--cor-principal);
    color: var(--cor-principal2);
    border: 3px solid var(--cor-de-section);
    border-radius: 32px;
    outline: 3px solid var(--cor-principal);
    padding: 4px;
    margin-top: 16px;
    font-size: 24px;
    transition: transform 0.5s ease, background-color 0.5s ease, outline 0.5s ease;
    align-self: end;
}

button.material-symbols-outlined:hover {
    transform: translateY(-4px);
}

button.material-symbols-outlined:active {
    background-color: var(--cor-principal-d);
    outline: 3px solid var(--cor-principal-d);
}

/* TRANSAÇÃO */

#form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo {
    background-color: var(--cor-de-section2);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    width: 100%;
}

.campo label {
    background-color: var(--cor-principal);
    color: var(--cor-principal2);
    font-weight: bold;
    padding: 4px 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.campo input {
    background-color: var(--cor-de-section);
    color: var(--cor-de-texto);
    font-weight: bold;
    font-size: 16px;
    padding: 2px 4px;
    margin-left: -5px;
    outline: none;
    border: 2px solid var(--cor-principal);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: calc(100% - 90px);
}

.campo #valor {
    width: calc(100% - 55px);
}

.campo p {
    margin-top: 8px;
    padding: 0px 8px;
    color: var(--cor-saida);
    font-weight: bold;
    font-size: 16px;
}

.btn-enviar {
    width: 100%;
    max-width: 300px;
    background-color: var(--cor-principal);
    color: var(--cor-principal2);
    border: 5px solid var(--cor-de-section);
    border-radius: 16px;
    outline: 5px solid var(--cor-principal);
    padding: 4px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.5s ease, background-color 0.5s ease, outline 0.5s ease;
}

.btn-enviar:hover {
    transform: translateY(-4px);
}

.btn-enviar:active {
    background-color: var(--cor-principal-d);
    outline: 5px solid var(--cor-principal-d);
}

/* footer */

footer {
    background-color: var(--cor-principal-d);
    width: 100%;
    padding: 4px;
}

footer h2 {
    text-align: center;
    font-size: 20px;
    color: var(--cor-principal2);
}
